.container {
    padding: 24px;
    display: flex;
    gap: 24px;
}

.image {
    border-radius: 15px;
}

.imageContainer {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(240, 63, 59, 0.2);
    border-radius: 30px;
    padding: 12px;
}

.basicInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.box {
    display: flex;
    gap: 50px;
    align-items: center;
}

.basicInfo {
    display: flex;
    color: var(--text-color-secondary);
}

.icon {
    margin-right: 8px;
}

.line {
    margin-right: 16px;
    margin-left: 16px;
    color: var(--text-color-filter);
}

.price {
    color: limegreen;
}

.favoriteIcon {
    border: none;
    background-color: transparent;
}

.favoriteIcon:hover {
    background-color: transparent;
}

.name {
    margin-top: 8px;
    font-size: 24px;
    color: var(--text-color-secondary);
}

.name>span {
    margin-top: 8px;
    font-size: 24px;
    color: var(--text-color-secondary);
}

.mainInfo {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 500;
}

.mainInfo span {
    color: var(--text-color-secondary);
}

.age {
    text-decoration: underline;
}

.about {
    font-size: 16px;
    font-weight: 400;
}

.button {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color-secondary);
    background-color: transparent;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
}