.buttonsContainer {
    display: flex;
    gap: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.link {
    padding: 14px 40px;
    border: 1px solid var(--border-color);
    border-radius: 30px;
    background-color: transparent;
    color: var(--text-color-white);

    &:hover {
        border: 1px solid var(--border-color);
        background-color: transparent;
        color: var(--text-color-white);
    }
}